* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.body-size {
    width: 1480px;
    height: 1282px;
   
}
.image {
    background-color: white;
    display: block;
    width: 885px;
    height: 529px;
    border: 1px ridge #000000;
    justify-content: center;
    align-items: center;
   
}

.top1-img {
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-left: 297px;
}

.header {
        width: 1283px;
        height: 189px;
        margin-top: 63px;
        margin-left: 98px;
    }

.ramba-image {
    width: 334px;
    height: 79px;
    font-family: MyriadPro;
    font-size: 80px;
    color: #000000;
    line-height: 93.75px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    
}
.link-decor {
    text-decoration: none;
    color: #000000;
}
.ramba-image-color {
    color: #4BCAFF;
}
.menu {
    display: inline;
    display: flex;
    align-items: stretch;
    align-items: end;
}

.header-link1 {
        color: white;
        display: inline;
        width: 1280px;
        background-color: #35444F;
        margin-top: 24px;
        margin-bottom: 18px;
        margin-left: 192px;
        margin-right: 70px;
        text-decoration: none;
        text-align: center;    
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
}
.header-link2 {
    color: white;
    display: inline;
    width: 1280px;
    background-color: #35444F;
    margin-top: 24px;
    margin-bottom: 18px;
    margin-right: 78px;
    text-decoration: none;
    text-align: center;    
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.header-link3 {
    color: white;
    display: inline;
    width: 1280px;
    background-color: #35444F;
    margin-top: 24px;
    margin-bottom: 18px;
    margin-right: 80px;
    text-decoration: none;
    text-align: center;    
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.header-link4 {
    color: white;
    display: inline;
    width: 1280px;
    background-color: #35444F;
    margin-top: 24px;
    margin-bottom: 18px;
    margin-right: 150px;
    text-decoration: none;
    text-align: center;    
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.textview {
    font-family: Roboto;
    font-size: 18px;
    color: #2C2C2C;
    line-height: 24px;
    font-weight: 400;
}

.flex-container {
    display: flex;
    flex-direction: row;
    
    
}
.aside-image {
    width: 344px;
    height: 399px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    border: 1px ridge #000000;
    margin-top: 49px;
    margin-bottom: 484px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    align-items: stretch;

}
.aside-image-item1 {
    margin-left: 26px;
    margin-bottom: 52px;
    
}
.aside-image-item2 {
    background-color: #DBDBDB;
    font-family: MyriadPro;
    font-size: 27px;
    line-height: 27px;
    color: #000000;
    margin-left: 38px;
    margin-bottom: 52px;

}

.contant {
    width: 885px;
    height: 832px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-left: 52px;
    margin-bottom: 51px;
    flex-direction: column;
}

.footer {
    width: 1280px;
    height: 69px;
    background-color: #63696E;
    opacity: 48%;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 30px;
    margin-left: 100px;
}
.menu-footer1 {
    width: 875px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 21px;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 28px;
    color: #0C1927;
    line-height: 28px;
    font-weight: 400;
    word-spacing:normal;
    display: inline-block;
}
.menu-footer2 {
    width: 190px;
    height: 69px;
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 21px;
    font-family: Roboto;
    font-size: 24px;
    color: #010101;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
}
.ramba-image-color1 {
    color: #3181A6;
}


